name: Rust Docker Images

env:
  CARGO_TERM_COLOR: always

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths:
      - "Dockerfile"
      - "Cargo.toml"
      - "Cargo.lock"
      - "common/**"
      - "salt-scraper/**"
      - "hltv-scraper/**"
      - "ingest-worker/**"
      - "matchdata-downloader/**"
      - "active-matches-scraper/**"
      - "builds-fetcher/**"
      - "history-fetcher/**"
      - "steam-profile-fetcher/**"
      - "update-assets-tables/**"

permissions:
  contents: read
  packages: write
  id-token: write

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  fmt:
    name: Format
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Update Rust toolchain
        run: |
          rustup override set stable
          rustup update stable
          rustup component add rustfmt
      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1

  deps:
    name: Dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Update Rust toolchain to stable
        run: |
          rustup override set stable
          rustup update stable
      - name: Machete
        uses: bnjbvr/cargo-machete@6456c7b34a8c1245e0c186ac50c56666ccbd44f1

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Protocol Buffers compiler
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: protobuf-compiler libprotobuf-dev clang mold
          version: 1.0
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "build-cache-${{ runner.os }}-${{ runner.arch }}"
      - name: Update Rust toolchain
        run: |
          rustup override set stable
          rustup update stable
          rustup component add clippy
      - name: Cargo Clippy
        run: cargo clippy --all-targets --locked --all-features -- -D warnings

  build-base:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v6
      - name: Setup Docker Builder
        uses: useblacksmith/setup-docker-builder@v1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Base Image
        id: build-base
        uses: useblacksmith/build-push-action@v2
        with:
          platforms: linux/amd64
          push: true
          tags: ghcr.io/${{ github.repository }}/rust-base:latest

  push-components:
    runs-on: ubuntu-24.04
    needs: build-base
    strategy:
      matrix:
        component:
          - salt-scraper
          - hltv-scraper
          - ingest-worker
          - matchdata-downloader
          - active-matches-scraper
          - builds-fetcher
          - history-fetcher
          - steam-profile-fetcher
          - update-assets-tables
    steps:
      - uses: actions/checkout@v6
      - name: Filter changed paths
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            change: [ '${{ matrix.component }}/**', 'common/**', 'Cargo.toml', 'Cargo.lock', 'Dockerfile' ]
      - name: Check if component should build
        id: should_deploy
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" || "${{ steps.changes.outputs['change'] }}" == "true" ]]; then
            echo "deploy=true" >> $GITHUB_OUTPUT
          else
            echo "deploy=false" >> $GITHUB_OUTPUT
          fi
      - name: Set up Docker
        if: steps.should_deploy.outputs.deploy == 'true'
        uses: docker/setup-docker-action@v4
      - name: Login to GitHub Container Registry
        if: steps.should_deploy.outputs.deploy == 'true'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push Component
        if: steps.should_deploy.outputs.deploy == 'true'
        run: |
          docker pull ghcr.io/${{ github.repository }}/rust-base:latest
          docker tag ghcr.io/${{ github.repository }}/rust-base:latest ghcr.io/${{ github.repository }}/${{ matrix.component }}:latest
          docker push ghcr.io/${{ github.repository }}/${{ matrix.component }}:latest
